---
import Greeting from '../components/Greeting'
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---
<BaseLayout pageTitle="Home">
  <ul>
    {allPosts.map((post: any) => <li><a href=`/posts/${post.id}`>{post.data.title}</a></li>)}
  </ul>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>